CLIENT_ID=<CLIENT ID from develop.battle.net>
CLIENT_SECRET=<CLIENT secret from develop.net>
CACHE_HOST=<HOSTNAME or IP address of the cache server>
CACHE_PORT=<PORT of the cache server if not its default>
CACHE_USER=<username to authenticate with cache server>
CACHE_PASS=<password to authenticate with cache server>
CACHE_DB=<database name for cache server>
